In [1]:
import pandas as pd

In [6]:
url= 'https://en.wikipedia.org/wiki/List_of_countries_by_inflation_rate'
df_html= pd.read_html(url)
print(type(df_html))
df_html

<class 'list'>

[    0                                                  1
 0 NaN  This article contains embedded lists that may ...,
     Country (or Territory) Inflation rate (consumer prices) (%)  \
 0                    Samoa                               -3.000
 1                  Comoros                               -1.045
 2      St. Kitts and Nevis                               -0.972
 3                    Aruba                               -0.265
 4                    Macau                               -0.250
 ..                     ...                                  ...
 188               Zimbabwe                               92.540
 189              Argentina                                102.5
 190                  Sudan                               194.60
 191                Lebanon                               224.39
 192              Venezuela                               1588.0

         Date of information
 0                 2021 est.
 1                 2021 est.
 2                 2021 est.
 3                 2021 est.
 4                 2021 est.
 ..                      ...
 188               2021 est.
 189  February 2023 est.[13]
 190               2021 est.
 191           2021 est.[14]
 192   October 2022 est.[15]

 [193 rows x 3 columns],
                  Country    2017      2018      2019     2020     2021  \
 0                  Samoa    1.30      3.67      2.19     1.49    -3.00
 1                Comoros    0.09      1.70      3.70     0.80    -1.05
 2    St. Kitts and Nevis    0.70     -1.04     -0.33    -0.59    -0.97
 3                  Macau    1.23      3.00      2.75     0.81    -0.25
 4                  Japan    0.49      0.99      0.47    -0.03    -0.17
 ..                   ...     ...       ...       ...      ...      ...
 189             Zimbabwe    0.91     10.61    255.29   557.21    92.54
 190              Lebanon    4.48      4.55      2.90    84.86   154.75
 191                Sudan   32.35     63.29     50.99   163.26   194.60
 192            Venezuela  438.12  65374.08  19906.02  2355.15  2700.00
 193          Afghanistan    4.98      0.63      2.30     5.61      NaN

      Average 2017-2021
 0                 1.13
 1                 1.05
 2                -0.45
 3                 1.51
 4                 0.35
 ..                 ...
 189             183.31
 190              39.55
 191             100.90
 192            5358.34
 193               3.38

 [194 rows x 7 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by financial rankings  \
 0                                              Trade
 1                                         Investment
 2                                              Funds
 3                                    Budget and debt
 4                                   Income and taxes
 5                                         Bank rates
 6                                           Currency
 7                                              Other
 8  Lists of countries by GDP rankings List of int...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by financial rankings.1
 0  Account balance % of GDP Exports net per capit...
 1                   FDI received past FDI abroad GFI
 2  Forex reserves Forex reserves (ex. gold) Gold ...
 3  Government budget PPP % of GDP per capita Cred...
 4  Tax rates Inheritance tax Tax revenue Wage ave...
 5  Central bank interest rate Commercial bank pri...
 6               Exchange rates to US$ Inflation rate
 7  Financial Development Index Average annual lab...
 8  Lists of countries by GDP rankings List of int...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ]

In [9]:
print(type(df_html[1]))
df_html[1]

<class 'pandas.core.frame.DataFrame'>

,Country (or Territory),Inflation rate (consumer prices) (%),Date of information
0,Samoa,-3.000,2021 est.
1,Comoros,-1.045,2021 est.
2,St. Kitts and Nevis,-0.972,2021 est.
3,Aruba,-0.265,2021 est.
4,Macau,-0.250,2021 est.
...,...,...,...
188,Zimbabwe,92.540,2021 est.
189,Argentina,102.5,February 2023 est.[13]
190,Sudan,194.60,2021 est.
191,Lebanon,224.39,2021 est.[14]
192,Venezuela,1588.0,October 2022 est.[15]

In [14]:
df_html[2]

,Country,2017,2018,2019,2020,2021,Average 2017-2021
0,Samoa,1.30,3.67,2.19,1.49,-3.00,1.13
1,Comoros,0.09,1.70,3.70,0.80,-1.05,1.05
2,St. Kitts and Nevis,0.70,-1.04,-0.33,-0.59,-0.97,-0.45
3,Macau,1.23,3.00,2.75,0.81,-0.25,1.51
4,Japan,0.49,0.99,0.47,-0.03,-0.17,0.35
...,...,...,...,...,...,...,...
189,Zimbabwe,0.91,10.61,255.29,557.21,92.54,183.31
190,Lebanon,4.48,4.55,2.90,84.86,154.75,39.55
191,Sudan,32.35,63.29,50.99,163.26,194.60,100.90
192,Venezuela,438.12,65374.08,19906.02,2355.15,2700.00,5358.34
193,Afghanistan,4.98,0.63,2.30,5.61,NaN,3.38

In [15]:
i = 0
for dfh in df_html:
    print(str(i).center(60,"*"))
    dfh.info()
    i= i+1

*****************************0******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       1 non-null      object
dtypes: float64(1), object(1)
memory usage: 144.0+ bytes
*****************************1******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Country (or Territory)                193 non-null    object
 1   Inflation rate (consumer prices) (%)  193 non-null    object
 2   Date of information                   193 non-null    object
dtypes: object(3)
memory usage: 4.6+ KB
*****************************2******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            194 non-null    object
 1   2017               194 non-null    float64
 2   2018               194 non-null    float64
 3   2019               194 non-null    float64
 4   2020               194 non-null    float64
 5   2021               193 non-null    float64
 6   Average 2017-2021  194 non-null    float64
dtypes: float64(6), object(1)
memory usage: 10.7+ KB
*****************************3******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 --------------  -----
 0   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by financial rankings    9 non-null      object
 1   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by financial rankings.1  9 non-null      object
dtypes: object(2)
memory usage: 272.0+ bytes

In [16]:
for i in range(len(df_html)):
  print(df_html[i].head())

    0                                                  1
0 NaN  This article contains embedded lists that may ...
  Country (or Territory) Inflation rate (consumer prices) (%)  \
0                  Samoa                               -3.000
1                Comoros                               -1.045
2    St. Kitts and Nevis                               -0.972
3                  Aruba                               -0.265
4                  Macau                               -0.250

  Date of information
0           2021 est.
1           2021 est.
2           2021 est.
3           2021 est.
4           2021 est.
               Country  2017  2018  2019  2020  2021  Average 2017-2021
0                Samoa  1.30  3.67  2.19  1.49 -3.00               1.13
1              Comoros  0.09  1.70  3.70  0.80 -1.05               1.05
2  St. Kitts and Nevis  0.70 -1.04 -0.33 -0.59 -0.97              -0.45
3                Macau  1.23  3.00  2.75  0.81 -0.25               1.51
4                Japan  0.49  0.99  0.47 -0.03 -0.17               0.35
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by financial rankings  \
0                                              Trade
1                                         Investment
2                                              Funds
3                                    Budget and debt
4                                   Income and taxes

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by financial rankings.1
0  Account balance % of GDP Exports net per capit...
1                   FDI received past FDI abroad GFI
2  Forex reserves Forex reserves (ex. gold) Gold ...
3  Government budget PPP % of GDP per capita Cred...
4  Tax rates Inheritance tax Tax revenue Wage ave...

In [33]:
from sqlalchemy import create_engine

us = 'fesalu'
passwd = 'bdfes2023' 
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegio02'
auth = 'mysql_native_password'

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd, url, puerto, bd, auth)
str_conn

'mysql+mysqlconnector://fesalu:bdfes2023@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password'

In [34]:
conn = create_engine(str_conn)
conn

Engine(mysql+mysqlconnector://fesalu:***@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password)

In [60]:
sql = '''SELECT * FROM alumnos WHERE sexo='F' '''
df_mysql = pd.read_sql_query(sql= sql, con=conn)

In [61]:
df_mysql

,clave_alu,clave_admin,ap_paterno,ap_materno,nombre,sexo,curp,peso,estatura,direccion,colonia,cp,ciudad,id_estado,delegacion,telefono,celular,email,status_alu,fedita
0,11030172,4812,BORBOLLA,RAMOS,ARGELIA,F,,52.0,1.60,CLUB CAMPESTRE #867,CLUB CAMPESTRE,26190,QUERETARO,22,QUERETARO,4455497989,9612497989,argi_gogos@miemail.com,AC,2021-11-21 20:08:41
1,11030173,4849,CASTRO,MANCERA,KARLA MARIANA,F,,0.0,0.00,LAGO DE XOCHIMILCO 666,LOMAS DE SAN PABLO,26130,SANTIAGO DE QUERETARO,22,QUERETARO,,,,AC,2021-11-07 22:02:27
2,11030207,4808,AGUILAR,ZAMARRIPA,MICHELLE IVONNE,F,AUZM910928MQTGMC08,47.5,1.71,ECOLOGIA 689,TECNOLOGICO,26158,QUERETARO,22,QUERETARO,,,,AC,2021-10-04 20:53:54
3,11030218,4717,FLORES,NAMUR,MARIA FERNANDA,F,FONF910110MQTLMR00,58.0,1.62,BOTANICA#609,TECNOLOGICO,26158,QUERETARO,22,QUERETARO,4458585556,9618285226,maferfn@miemail.com,AC,2021-09-17 20:30:41
4,11030254,4724,GONZALEZ,DIAZ,CLAUDIA ALEJANDRA,F,GODC910202MDFNZL01,60.0,1.63,FRAY ANTONIO MARGIL DE JESUS #96,LOS MOLINOS 2DA. SECCION,26150,SANTIAGO DE QUERETARO,22,EPIGMENIO GONZALEZ,0444458170558,0449618170258,jlgg1504@telmart.com.mx,AC,2021-09-04 19:40:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,11080201,,SOTO,ELIAS,PALOMA DENISSE,F,SOEP921030MQTTLL03,52.0,1.51,70 DE NOVIEMBRE NO. 7 PTE.,CENTRO SANTA ROSA JAUREGUI,26220,QUERETARO,22,SANTA ROSA JAUREGUI QRO,0444458775868,0449618772868,chiquis_palomit@miemail.com,AS,2023-03-12 16:41:30
279,11080202,,VALLES,RAMOS,MARIANA,F,VARM930602MCHLMR08,62.0,1.66,MARIO GONZALEZ #0,FRACCIONAMIENTO VILLA CORZO,32980,SAN JOSE ITURBIDE,12,SAN JOSE ITURBIDE,4191089618,4191089618,mariana_020693@miemail.com,AS,2023-03-10 14:00:21
280,11080205,,BADUY,VALDEZ,KENNIA ASENET,F,BAKV931111MQTDLN18,59.0,1.60,FRAY FRANCISCO DE LOS ANGELES #766,QUINTAS DEL MARQUEZ,26042,QUERETARO,22,QUERETARO,4451544548,9611244548,keny_625@miemail.com,AS,2023-03-12 19:45:44
281,11080208,,BECERRIL,HUERTA,MARIANA,F,BEHM930222MQTCRR06,52.0,1.59,PASEO DE SOFIA # 709,TEJEDA,26904,QUERETARO,22,CORREGIDORA,4458448574,9618448574,mane_chiquis@miemail.com,AS,2023-03-11 19:46:25
282,11080209,NULL,MORALES,CARMONA,KARLA MARIANA,F,,NaN,NaN,None,None,None,None,18,None,None,None,None,AS,2023-04-15 20:48:37